<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
</head>
<body>
    <form id="myForm" action="" method="post">
        <label for="firstName">Firstname*</label>
        <input id="firstName" type="text">
        <article id="firstNameError"></article>

        <label for="lastname">Lastname*</label>
        <input id="lastName" type="text">
        <article id="lastNameError"></article>

        <label for="email">Email*</label>
        <input id="email" type="email">
        <article id="emailError"></article>

        <label for="phone">PhoneNumber</label>
        <input id="phone" type="number">

        <label for="address">Street Address*</label>
        <input id="address" type="text">
        <article id="addressError"></article>

        <label for="zip">Zip Code*</label>
        <input id="zip" type="number">
        <article id="zipCodeError"></article>

        <label for="city">City*</label>
        <input id="city" type="text">
        <article id="cityError"></article>

        <label for="textarea">Comment</label>
        <textarea id="textarea" rows="7" cols="20"></textarea>

        <button type="submit" id="Knapp">Submit</button>
    </form>
<script type="text/javascript" src="../script/checkout.js"></script>
</body>
</html>