<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="styl.css">
</head>
<body>
<header>
    <h1>Welcome to my House Shop</h1>
    <a href="checkout.html" id="shoppingCarten"><i class="fas fa-shopping-cart"></i><sub id="siffra">0</sub></a>
</header>
<script type="text/javascript" src="../script/object.js"></script>
<script type="text/javascript" src="../script/index.js"></script>
</body>
</html>